*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100;
    background-size: cover;
    background-position:auto;
    background-repeat: no-repeat;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
main {
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-availeble;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    width: 300px;
    background-color: #ABC4AA;
    box-shadow: gainsboro;
}

.container h1{
    text-align: left;
    color: #675D50;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.container label{
    text-align: left;
    color: #675D50;
}

.container form input{
    width: calc(100%-20px);
    padding: 5px 10px;
    margin-bottom: 15px;
    border:#ABC4AA;
    color:black;
    font-size: 20px;
    background-color:rgba(79, 71, 71, 0.495);
}

.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#F3DEBA;
    font-size: 18px;
    color: #675D50;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: 22vw;
    min-height: 100vh;
    background: #DBE4C6;
    transition: all 0.5s ease;
}
.sidebar .top {
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background-image: linear-gradient(to right, #A9907E, #F3DEBA);
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(6, 255, 251, 0.1);
    border-bottom: 1px solid rgba(125, 134, 146, 0.302);
    transition: all 0.5s ease;
}

ul li:hover a {
    padding-left: 100px;
    background: #efe7bc;
    color: rgb(0, 0, 0);
}

.sidebar ul a i {
    margin-right: 16px;
}


#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
}

label #open {
    position: absolute;
    cursor: pointer;
    background: #924227;
    border-radius: 1px;
    font-size: 30px;
}

label #open {
    left: 0;
    top: 10;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    transition: all 0.5s ease;
}

label #btn {
    z-index: 1111;
    left: 195px;
    top: 25px;
    font-size: 20px;
    color: #000000;
    padding: 4px 9px;
    transition: all 0.5s ease;
}

#check:checked~.sidebar {
    left:-250px;
}

#check:checked~label #open {
    left:30px;
    font-size: 20px;
}

#check:checked~label #btn {
    left:-195px;
}

section {
    background: #ffffff;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

section h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 60px;
    color: #004369;
}

.page{
    position: absolute;
    width: 2100px;
    height: 173px;
    left:250px;
    top:0px;
    border-radius: 0px 0px 10px 10px;
    background: burlywood;

}

.objek-false {
    width: 20px;
    height: 10px;
    background-color: red;
    animation: nyala-mati 1s infinite;
    position:absolute;
    right: 16px;
    top: 8px;
  }

  .objek-true{
    width: 20px;
    height: 10px;
    background-color:green;
    animation: nyala-mati 1s infinite;
    position:absolute;
    right: 16px;
    top: 8px;
  }

  
  @keyframes nyala-mati {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .content {
    position: absolute;
    width: 78vw;
    right: 0;
    height: 100vh;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 78vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #004369;
  }
 
  .nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content_2 {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
  }
  .container {
    width: 95%;
    min-height: 95%;
    background-color: #94AF9F;
    border-radius: 10px;
  }

  .sensors {
    width: 100%;
    height: min-content;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .sensor {
    width: 28%;
    height: 25vh;
    max-height: 25%;
    background-color: #ccc;
    border-radius: 10px;
    padding : 20px;
    display: flex;
    flex-direction: column;
  }
  
  .status_sensor {
    display: flex;
    flex-direction: row-reverse;
    height: 20%;
    width: 100%
  }

  .status_colour_normal{
    width: 30px;
    height: 10px;
    background-color: #1B9A18;
    align-items: center;
  }

  .status_colour_notnormal{
    width: 30px;
    height: 10px;
    background-color: #9A1818;
    align-items: center;
  }

  .sensor_value {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 55%;
  }

  .value_text {
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .sensor_name {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 25%;
  }

  .name_text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  .sidebar h2 {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .sidebar li a:hover {
    background-color: #555;
    color: #fff;
  }

  .bar-button {
    color: #F3DEBA;
  }

  .sidebar li a.active {
    background-color: #555;
    color: #fff;
  }


  .card {
    width: 30%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  /* .card a:hover {
    background-color: #000;
  } */

  .sensors{
    display: flex;
  }


  
  .details{
   
  }
  
  .icon{
    font-size: 24px;
    margin-right: 10px;
    color: #333;
  }

.item-actuator{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px
}

.user{
  width:120px;
  height:120px;
  margin: 20px auto;
  display: block;
  float: left;
}

.label{
  text-align: right;
  font-size: 18px;
  margin-left: 12px;
  padding: 15px;
  
}

.plants{
  margin-top: 18%;
  padding: 10px;;
}

.item-plant{
  float:right;
  font-weight: bold;
}

 .max{
    border: 1px solid black;
    padding:10px;
    margin:10px;
  }

  .min{
    border: 1px solid black;
    padding:10px;
    margin : 10px;
  }

  .item-min{
    display: flex;
    padding:10px;
    justify-content: space-between;
    font-weight: bold;
  }

  .item-max{
    display: flex;
    padding:10px;
    justify-content: space-between;
    font-weight: bold;
    
  }

  .set_suhu{
    border: 1px solid;
    box-sizing:content-box;
    padding:10px;
    margin:10px;
    position: absolute;
  }

  .item-suhu{
    display: flex;
    padding:10px;
    justify-content:space-between;
    font-weight: bold;
  }

  .submit{
    position: absolute;
    bottom: 10%;
    right: 5%;
  }
